// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style: none;
}

.link {
  margin: 20px;
}

.link-title {
  font-weight: bold;
  display: inline-block;
}

.link-url {
  display: inline-block;
}

#search-bar {
  margin-bottom: 20px;
  height: 30px;
  font-size: 18px;
}

.read-link {
  text-decoration: line-through;
}

.hide {
  display: none;
}
